@import "../variables";

body {
    #app {
        .characters-table {
            min-height: $table-height;

            table {
                tbody {
                    tr {
                        td {
                            background-color: transparent;

                            a {
                                display: block;
                                color: $primaryYellow-color;
                            }
                        }
                    }
                }
            }
        }
    }
}