@import "../variables";

body {
    #app {
        footer {
            .glyphicon-question-sign {
                cursor: pointer;
                font-size: 30px;
                position: absolute;
                bottom: 30px;
                right: 30px;
                top: auto;
            }
        }
    }

    .how-to.popover {
        color: #000;
    }
}