@import "variables";

body {
    overflow-x: hidden;
    color: $primaryYellow-color;
    background-color: #000;

    #app {
        header {
            .logo {
                text-align: center;
            }
        }

        .home {
            min-height: 442px;
        }

        .characters-table {
            min-height: $table-height;

            table {
                tbody {
                    tr {
                        td {
                            background-color: transparent;

                            a {
                                display: block;
                                color: $primaryYellow-color;
                            }
                        }
                    }
                }
            }
        }

        .single-item {
            margin-bottom: 20px;

            a {
                font-weight: bold;
                color: $primaryYellow-color;
            }
        }

        .pagination-wrapper {
            text-align: center;

            .pagination {
                a {
                    cursor: pointer;
                    color: #FFE81F;
                    background-color: transparent;
                    transition: background-color $transitionTime, color $transitionTime;

                    &.active {
                        cursor: not-allowed;
                    }
                    &.active, &:hover {
                        color: #000;
                        background-color: $primaryYellow-color;
                        border-color: $primaryYellow-color;
                    }
                }
            }
        }
        button {
            &.btn-default {
                background: transparent;
                text-shadow: none;
                color: $primaryYellow-color;
                transition: background $transitionTime, color $transitionTime;

                &:hover {
                    color: #000;
                    background-color: $primaryYellow-color;
                    border-color: $primaryYellow-color;
                }
            }
        }
    }

    footer {
        .glyphicon-question-sign {
            cursor: pointer;
            font-size: 30px;
            position: absolute;
            bottom: 30px;
            right: 30px;
            top: auto;
        }
    }

    .how-to.popover {
        color: #000;
    }

    .star {
        position: absolute;
        width: 1px;
        height: 1px;
        background-color: #fff;
    }
}