@import "variables";
@import "loader";

body {
    overflow: hidden;
    color: $primaryYellow-color;
    background-color: #000;

    #app {
        header {
            .logo {
                text-align: center;
            }
        }

        .characters-table {
            min-height: $table-height;

            table {
                tbody {
                    tr {
                        td {
                            background-color: transparent;

                            a {
                                display: block;
                                color: $primaryYellow-color;
                            }
                        }
                    }
                }
            }
        }

        .pagination-wrapper {
            text-align: center;

            .pagination {
                a {
                    cursor: pointer;
                    color: #FFE81F;
                    background-color: transparent;
                    transition: background-color 300ms, color 300ms;

                    &.active {
                        cursor: not-allowed;
                    }
                    &.active, &:hover {
                        background-color: #fff;
                        color: #000;
                    }
                }
            }
        }
    }

    .star {
        position: absolute;
        width: 1px;
        height: 1px;
        background-color: #fff;
    }
}


